*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-color: #222;
}
.welcome-page {
   background-image: url('https://wpassets.brainstation.io/app/uploads/2017/04/13100509/Netflix-Background-1460x821.jpg');
   background-size: cover;
   width: 100%;
   height: 100vh;
   position: relative;
   background-color: #222;
   
}
@media screen and (max-width : 480px) {
    .welcome-page {
      height: 510px;
      width: 100%;
    }
} 
.fade {
    width: 100%;
    height: 100vh;
    background-color: rgba(1, 1, 1, .7);
    background-image: linear-gradient(
    to top,
    rgba(0,0,0,0.8) 0,
    rgba(0,0,0,0) 60%,
    rgba(0,0,0,0.8) 100%,

);

}
.netflix-logo {
    width: 135px;
    height: 35px;
    float: left;
    margin-top: -2px;
}
@media screen and (max-width : 480px) {
    .netflix-logo {
        margin-left: -40px;
    }
}
.logo {
    padding-top: 28px;
    padding-left: 60px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
}
.sign-in {
    width: 90px;
    height: 35px;
    font-weight:450;
    font-size: 18px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: red;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}
@media screen and (max-width : 480px) {
    .sign-in {
        margin-right: -20px;
    }
}
.sign-in:hover {
    background-color: rgb(199, 0, 0);
    transition: 0.3s;
}
.intro {
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    margin-top: 130px;
    font-family: sans-serif;
}

.intro-text {
    
    display: grid;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.intro h1 {
    display: grid;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    max-width: 650px;
    
}
 @media screen and (max-width : 480px) {
    .intro h1 {
        font-size: 35px;
        margin-top: -35px;
    }
} 
.intro h2 {
    font-weight: 300;
}
.intro h3 {
    font-weight: 400;
    
}
@media screen and (max-width : 480px) {
    .intro h3 span {
        margin-left: 85px;
    }
}

.inp {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-left: 40px;
    
}
.intro-input {
    height: 60px;
    width: 450px;
    font-size: 15px;
    font-family: sans-serif;
    padding-left: 10px;
    color: rgba(0, 0, 0, .5);
}
@media screen and (max-width:480px) {
    .intro-input {
        width: 250px;
        margin-left: -40px;
    }
}
.get-started {
    width: 180px;
    height: 60px;
    border: none;
    outline: none;
    background-color: red;
    color: white;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;

}
@media screen and (max-width:480px) {
    .get-started {
        width: 150px;
        margin-left: -30px;
    }
}
.get-started:hover {
    transition: 0.3s;
    background-color: rgb(197, 0, 0);
}
.section-one {
    color: white;
    width: 100%;
    height: 480px;
    margin-top: 8px;
    background-color: black;
    font-family: sans-serif;
    padding-left: 125px;
    padding-top: 150px;
}
@media screen and (max-width:480px) {
    .section-one {
        width: 100%;
        margin-top: -390px;
        
    }
}
.section-one h1 {
    font-size: 52px;
    max-width: 450px;
}
@media screen and (max-width:480px) {
    .section-one h1{
       font-size: 28px;
        margin-left: -130px;
        display: flex;
        max-width: 420px;
        justify-content: center;
        margin-top: -120px;
        
        
    }
}
.section-one h2{
    font-size: 26px;
    margin-top: 20px;
    font-weight: 300;
    max-width: 500px;
}
@media screen and (max-width:480px) {
    .section-one h2{
        font-size: 19px;
        margin-left: -90px;
        max-width: 350px;

    }
    .section-one h2 span {
        margin-left: 120px;
    }
}
.section-one img {
    margin-top: -310px;
    margin-left: 630px;
    width: 500px;
}
@media screen and (max-width:480px) {
    .section-one img {
        margin-left: -110px;
        width: 390px;
        margin-top: 0;
    }
}
.section-two {
    color: white;
    width: 100%;
    height: 480px;
    margin-top: 8px;
    background-color: black;
    font-family: sans-serif;
    padding-top: 150px;
}
@media screen and (max-width:480px) {
    .section-two {
        width: 100%;
        display: grid;
    }
}
.section-two h1 {
    font-size: 52px;
    margin-left: 600px;   
}
@media screen and (max-width:480px) {
    .section-two h1{
       font-size: 28px;
        margin-left: 40px;
        max-width: 400px;
        justify-content: center;
        margin-top: -120px;
        
    }
    .section-two h1 span{
        margin-left: 75px;
    }
}

.section-two h2 {
    font-size: 26px;
    margin-top: 20px;
    font-weight: 300;
    margin-left: 600px;
    max-width: 400px;
}
@media screen and (max-width:480px) {
    .section-two h2{
        font-size: 19px;
        margin-left: 42px;
        max-width: 350px;
        margin-top: -90px;
    }
    .section-two h2 span {
        margin-left: 60px;
    }

}
.section-two img {
    margin-top: -310px;
    margin-left: 50px;
    width: 500px;
}
@media screen and (max-width:480px) {
    .section-two img{
        font-size: 19px;
        margin-left: 30px;
        margin-top: -80px;
        max-width: 350px;
        width: 300;
        
    }

}
.section-three {
    color: white;
    width: 100%;
    height: 480px;
    margin-top: 8px;
    background-color: black;
    font-family: sans-serif;
    padding-top: 150px;
    padding-left: 125px;
}
@media screen and (max-width:480px) {
    .section-three {
        width: 100%;
        display: grid;
    }
}
.section-three h1 {
    font-size: 52px;
}
@media screen and (max-width:480px) {
    .section-three h1{
       font-size: 28px;
        margin-left: -40px;
        max-width: 400px;
        justify-content: center;
        margin-top: -120px;
        
    }

}
.section-three h2 {
    font-size: 26px;
    margin-top: 20px;
    font-weight: 300;
    max-width: 400px;
}
@media screen and (max-width:480px) {
    .section-three h2{
        font-size: 19px;
        margin-left: -80px;
        max-width: 350px;
        margin-top: -130px;
    }
    .section-three h2 span {
        margin-left: 10px;
        
    }
 
}
.section-three img {
    margin-top: -250px;
    margin-left: 600px;
    width: 550px;
}
@media screen and (max-width:480px) {
    .section-three img {
        margin-left: -110px;
        width: 390px;
        margin-top: -130px;
    }
}
.section-four {
    color: white;
    width: 100%;
    height: 480px;
    margin-top: 8px;
    background-color: black;
    font-family: sans-serif;
    padding-top: 150px;
}
@media screen and (max-width:480px) {
    .section-four {
        width: 100%;
        display: grid;
    }
}
.section-four h1 {
    font-size: 52px;
    margin-left: 650px; 
}
@media screen and (max-width:480px) {
    .section-four h1{
       font-size: 28px;
        margin-left: 25px;
        max-width: 400px;
        justify-content: center;
        margin-top: -120px;
        
    }

}
.section-four h2 {
    font-size: 26px;
    margin-top: 20px;
    font-weight: 300;
    margin-left: 650px;
}
@media screen and (max-width:481px) {
    .section-four h2{
        font-size: 19px;
        margin-left: 35px;
        max-width: 350px;
        margin-top: -100px;
    }
    .section-four h2 span {
        margin-left: 10px;
    }
  
}
.section-four img {
    margin-top: -280px;
    margin-left: 50px;
    width: 500px;
}
@media screen and (max-width:480px) {
    .section-four img {
        margin-left: 20px;
        width: 390px;
        margin-top: -20px;
    }
}   